@model UCP1_PAW_003_A.Models.Pemesanan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pemesanan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TanggalPesan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TanggalPesan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJadwal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJadwal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JumlahPesan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JumlahPesan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPesan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
